/*By defult css style reset zone */
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body h1 {
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    text-transform: capitalize;


}

body h2 {
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    text-transform: capitalize;
}

/*Wrapper main css structure*/
.wrapper {
    height: 100vh;
    width: 100%;
}

/*header-Container area end */
.container-header {
    height: 500px;
    width: 100%;
    background-image: url(./images/donation7.jpg);
    padding: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.container-header h1,
p {
    color: white;
}

/*header-Container area end */


/* --Donate Today Container area start */
.container-donate-area {
    text-align: center;
    background-color: FFFFFF;
    height: 550px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;

}

.container-donate-area p {
    color: black;
}

.pay-item-container {
    margin: 30px auto;
    width: fit-content;
}

.donate-title {
    margin: 50px 30px;
}

#other {
    color: #626262;
    font-weight: 600;
}

.hr {
    width: 100%;
    margin-top: 10px;

}

.item {
    height: 100px;
    width: 100px;
    background-color: #ffdbdbae;
    margin: 20px;
    display: inline-block;
    border-radius: 5px;
}
.item:hover{
    background-color: rgb(247, 217, 221);
    border: 1px solid tomato;
    cursor:pointer;
}
.item h3 {
    font-weight: 600;
    color: #626262;
    margin: 35px auto;
}

.donate-btn-container {
    margin-top: 100px;
}

.donate-btn {

    background-color: tomato;
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: 600px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    text-decoration: none;
}

.donate-btn a {
    text-decoration: none;
    color: white;
}

.donate-btn:hover {
    background-color:rgb(255, 50, 81);
    cursor: pointer;
    padding: 16px 35px;
    transition:350ms;
}

/* --Donate Today Container area end */


/* --donate-plan-area Container  start */
.donate-plan-area {
    height: 400px;
    width: 100%;
    margin-bottom: 150px;
}

.donate-plan-title {
    text-align: center;
}

.donate-plan-title>p {
    margin-top: 20px;
}

.plan-title {
    margin-top: 70px;
    margin-bottom: 10px;
}

.icon-parent {
    width: 50px;
    height: 50px;
    padding:5px 30px;
   

}

.icon-parent img {
    width: 80px;
    height: 70px;
    padding-left:20px;
    padding-top: 10px;
    margin-top: 24px;

}

.plan-item-container {

    display: flex;
    flex-direction: row;
    justify-content: center;


}

.donate-plan-item {
    height:300px;
    width: 300px;
    margin-top: 40px;
    margin-left: 20px;
    border-radius:8px;

}
.donate-plan-item:hover {
border:1px solid tomato;
box-shadow:6px 6px 10px rgb(163, 163, 163);
transition: 370ms;

}

.donate-plan-item p {
    color: rgb(74, 71, 71);
}

.plan-item1 {
    background-color: #EDF5F6;
}

.plan-item2 {
    background-color: #FFEEEE;
}

.plan-item3 {
    background-color: #FFF4D6;
}

/* --donate-plan-area Container  end */


/* --donation-card- Container area  start */
.donation-card-container1 {

    width: 100%;
    height: 380px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 100px;

}

.donation-card-container2 {

    width: 100%;
    height: 380px;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.both {
    width: 450px;
    height: 300px;
}

.right-card {
    margin-left: 50px;
}

.both p {
    margin: 50px 0;
    color: rgb(74, 71, 71);
}

.image-card-1 {
    background-image: url(./images/donation3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    
}
.image-card-1:hover{
   
    box-shadow:10px 10px 40px gray;
    transition:400ms;
}
.image-card-2:hover{
   
    box-shadow:10px 10px 40px gray;
    transition:400ms;
}

.image-card-2 {
    background-image: url(./images/donation1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}

/* --donation-card- Container area  end */


/* -------update-container- area  start----- */
.update-container-main {
    height: 220px;
    width: 100%;
    margin: 30px auto;

}

.my-update-container {
    background-color: #FFF4D6;
    border-radius: 10px;
    height: 200px;
    width: 800px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 5px auto;


}
.my-update-container:hover {
box-shadow:1px 1px 40px rgb(186, 186, 186);
transition: 0.8ms;
}

.form input[type=email] {
    padding: 12px 50px;
    border: none;
    border-radius: 5px 0 0 5px;
    background-color: #cccbcb;
    font-weight: 500;
    color: white;

}

.form input[type=submit] {
    padding: 12px 30px;
    margin-left: -5px;
    border: none;
    border-radius: 0 5px 5px 0;
    background-color: #FF5959;
    font-weight: 500;
    color: white;
}

/* -------update-container- area  end----- */

/* -------footer-container- area  start----- */
footer {
    margin-top: 110px;
    font-family: 'Sofia';
    height: 150px;
    width: 100%;
    background-color: #0B0D17;
    text-align: center;

}
#submit:hover{
    cursor:pointer;
    background-color:rgb(255, 50, 81);
    transition: 1000ms;
}
footer h3 {
    color: #FF5959;
    text-align: center;
    font-family: 'Pacifico', cursive;
    font-size: 30px;
    letter-spacing: 3px;
    font-weight: 300px;
}

footer h5 {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    color: white;
    text-align: center;
    margin: 40px auto;
}

/* -------footer-container- area  end----- */



/*--Happy code created by Mustafa Rahman assignment-1 for programming HeroCourse--*/